* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  height: 100vh;
  width: 100vw;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}

.searchForm {
  position: absolute;
  top: 20px;
  left: 20px;
}

.citySearchInput {
  width: 201px;
  height: 45px;
  font-size: 1.5em;
  padding: 10px;
}

.searchBtn {
  padding: 6.5px 10px;
  font-size: 1.5em;
}

.widget {
  position: absolute;
  text-align: center;
  width: fit-content;
  left: 50%;
  top: 50%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transform: translate(-50%, -50%);
}

.location {
  font-size: 2rem;
}

.temp {
  font-size: 2.5rem;
  display: flex;
  margin-top: 30px;
}

.icon {
  margin-right: 25px;
  object-fit: cover;
}

.description {
  margin-top: 25px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

button {
  background-color: rgb(64, 5, 98);
  color: white;
}

input,
input:focus,
button:active,
button:focus {
  border: none;
  outline: none;
}
